@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Special+Gothic+Expanded+One&display=swap');
/* css reset & default */
*{padding:0; margin:0;}
body{
    font-family: 'Montserrat', sans-serif;
    padding-top: env(safe-area-inset-top, 20px);
    padding-right: env(safe-area-inset-right, 20px);
    padding-bottom: env(safe-area-inset-bottom, 20px);
    padding-left: env(safe-area-inset-left, 20px);
    color: #3f413d;
    box-sizing: border-box;
    background-color: var(--netral);
}
p{font-family: 'Montserrat';}
ul, ol{list-style: none;}
a{text-decoration: none; color:var(--primer);}
h1{color: var(--sekunder);}
.padding{height: 5rem;}
.next-button{
    color: black;
    background-color: #ffa86b;
    padding: .5rem;
    border-style: none;
    transition: .5s;
} .next-button:hover{
    padding-top: 3em;
    box-shadow: 0px 1px 9px #f57e2a;
    margin-top: .5rem;
    }
.next-button a{color: black;}
.prev-button{
  color: black;
  background-color: #ffa86b;
  padding: .5rem;
  border-style: none;
  transition: .5s;
} .prev-button:hover{
  padding-bottom: 3em;
  box-shadow: 0px 1px 9px #f57e2a;
  margin-top: .5rem;
  }
.next-button a{color: black;}

/* variable */
:root{
  --primer: #f5ce02;
  --sekunder: #176a19;
  --tersier: #c1b67d;
  --netral: #fff8f8;
}

/* Navigation */
.navigation{
    top: 0;
    position: sticky;
    background-color: #fff8f8cf;
    backdrop-filter: blur(5px);
    z-index: 999;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1rem;
    max-width: 55rem;
    margin: 0 auto;
}
.left{
    display: flex;
}
    .left img{
        width: 2.5rem;
        padding-right: 5px;
    }
    .left p{font-family: 'Montserrat';}
.right ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
    .right ul li a{
        padding:  20px;
    }
.right .menu{display: none;}

.nav-mobile{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    
}
.menu-of{display: none;}

#navigate .nav-mobile{
    overflow: hidden;
    display: block;
    flex-direction: column;
    background-color: var(--netral);
    backdrop-filter: blur(20px);
    flex-wrap: nowrap;
}
#navigate .menu{display: none;}
#navigate .menu-of{display: flex;}
#navigate .nav-mobile .menu-mobile ul{
}

/* header */
.header{
    width: 100%;
    height: 50vh;
    background-image: url(asset/bg.png);
    background-position: center;
    background-size: cover;
    color: white;
}
.header-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}
.header-content h1{color: antiquewhite;}

/* slides */
.showcase{
    padding: 0 1rem;
    flex-wrap: nowrap;
    max-width: 55rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mySlides{
    aspect-ratio: 16/9;
    border-radius: 1%;
    width: 25rem;
    animation: fade .5s ease-in-out;
    box-shadow: 5px 5px #ffa86b;
  }
  
  .showcase-info{
    padding-left: 2rem;
  }

  /* text section | generic container | header-title*/
  .text-section{
    padding: 0 1rem;
    max-width: 55rem;
    margin: 0 auto;
  }
  .text-section h1, h2{
    font-family: "Special Gothic Expanded One";
  }

  .container{
    padding: 0 1rem;
    max-width: 55rem;
    margin: 0 auto;
  }

  .header-title{
    padding: 0 1rem;
    max-width: 55rem;
    margin: 0 auto;
  }

  /* achievment */
  .achievmentContent{
    display: flex;
    margin-bottom: 2rem;
  }
  .achievment-img img{
    width: 25rem;
    border-radius: 1.5%;
    border-left: 3px solid #ffa86b ;
    border-right: 3px solid #ffa86b;
    border-bottom: 3px solid #ffa86b;
    border-top: 15px solid #ffa86b ;
  }
  .achievment-info{
    padding-left: 2rem;
  }

  #ar{flex-direction: row-reverse; text-align: right; padding-right: 0;}
  #ar img{margin-left: 2rem;}

  /* style untuk laskar 31.html*/
  /* person */
  .person{
    display: flex;
    flex-wrap: wrap;
    max-width: 55rem;
    margin: 0 auto;
    justify-content: center;
    
  }
  .person-details{
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    padding: 1rem;
    text-align: center;
  } .person-details img{
    width: 15rem;
  }

  /* footer */
  .footer-bg{
    background-color: var(--sekunder);
    padding: 2rem 0;
  }
  .footer{
    color: var(--tersier);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 55rem;
  }

  .ft{
     padding: 1rem 0;
  }

  footer{
    color: var(--tersier);
    background-color: var(--sekunder);
    text-align: center;
    padding: 2rem 0;
  }

