/* CSS Reset*/
*{padding: 0; margin: 0;}
html{scroll-behavior: smooth}
body{overflow-wrap: hidden;}
a{text-decoration: none; color: white;}
.spacerCard{margin: 6vh 0}
ul{list-style: none;}
p{font-family: "Afacad Flux";}
h1{font-family: "Playfair Display";}

/* line text */
.lineText{
  background: #FF6F13;
  height: .5vw;
  width: 10vw;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
  border-radius: 100vw;
}

/*landing*/
.landingContainer{
  height: 100vh;
  background: url(asset/3.jpeg);
  background-size: cover;
  background-clip: content-box;
  background-position: center;
}

.landingContainer .content{
  color: white;
  position: absolute;
  text-align: center;
  margin-top: 5vh;
}

.landingContainer .content .nextButton{
  background: #FFFFFF00;
  border-color: #FFFFFF00;
  color: white;
  padding: 1vh 2vw;
}
  .content .nextButton:hover{
    border-bottom: 2px solid #C9EAD7;
    transition: 1s;
  }
  
/* card clip */
.cardClip{
  margin: 0 5vw;
}
.card{
  padding: 2%;
  border-radius: 2vh;
}
  
/* card newsletter */
.newsletter{
  background: #EAD6C9;
  box-shadow: 0 0 10px #ead6c9;
  padding: 2%;
  border-radius: 2vh;
}
  
.newsletter .learnMore{
  float: right;
  padding: 1vh 2vw;
  border: none;
  border-radius: 100vh;
  background: #FF6F13;
}

/* slide */
.mySlides{
  aspect-ratio:16/9;
  border-radius: 2vw;
  width: 90%;
  animation: fade .5s ease-in-out;
  box-shadow: 5px 5px #e9f5db;
}
  
  /* card about */
.about{
  background: #D7ECFF;
  border: 2px solid #157BD794;
}

.about .learnMore{
  float: right;
  padding: 1vh 2vw;
  border: none;
  border-radius: 100vh;
  background: #157BD7;
}

.about .lineText{
  background: #157BD7;
}

/* footer */
footer{
  background: #94AB9A;
  padding: 5vw 5vw;
  color: #F8FFFA;
}

footer ul li a{color: #F8FFFA;}